:root {
    --color-black: #020203;
    --color-white: #FFFFFF;
    --color-orange: #E16C2B;
    --color-grey: #3C3939;
    --color-flame: #D76127;
  }
  
body { 
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  }

.background {
  background-attachment: fixed;
  background-size: cover;  
  background-repeat: no-repeat; 
  background-position: center center ;
  background-color: var(--color-white); 
}

/* ......../ media query /.......... */

  @media screen and (min-width:768px) {

  body {
    font-size: 1.1rem;
  }
}


   /* ///////////..header../////////// */

.container {
    height: 64px;
    width: 100%;
}
  
.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: var(--color-white);
  color: var(--color-black);
  opacity: 1;
  height: 64px;
  z-index: 12;
  }

.menu-items li {
  list-style: none;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
 }

.menu-items a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
 }

.menu-items a:hover {
  color: var(--color-flame);
  transition: color 0.3s ease-in-out;
 }

.logo {
  position: absolute;
  top: 5px;
  right: 35px;
  width: 80px;
 }

.navbar .menu-items {
  margin-left: -350px;
  padding-top: 100px;
  background: var(--color-white);
  height: 100vh;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  transition: transform 0.6s ease-in-out;
  box-shadow: 5px 0px 10px 0px #aaa;
 } 

.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
    display: block;
 }

.navbar-container input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 32px;
  width: 30px;
  top: 20px;
  left: 50px;
  z-index: 5;
  opacity: 0;
}

.navbar-container .hamburger-lines {
  display: block;
  height: 23px;
  width: 35px;
  position: absolute;
  top: 17px;
  left: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.navbar-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--color-grey);
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(350px);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(35deg);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-35deg);
}

  
  /* ......../ media query /.......... */
  
@media screen and (min-width:768px) {

  .navbar input[type="checkbox"],
  .navbar .hamburger-lines {
      display: none;
   }
   
   .navbar .menu-items {
    position: static;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateX(0);
    flex-direction: row;
    padding-top: 20px;
    height: 50px;
    width: 500px;
    max-width: 1920px;
    box-shadow: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 50px;
    order: 2;
  }

  .navbar-container  {
    position: static;
    display: flex;
    height: 64px;
    justify-content: space-between;
    
  }

  .logo {
    position: relative;
    order: 1;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
    margin-left: 35px;
  }

  .navbar {
    box-shadow: none;
    opacity: 1;
  }
  
  .menu-items li {
    font-weight: 500;
    font-size: 1.1rem;
  }

  .menu-items a {
    color: var(--color-grey);
  }

}

  
/*
*
*
/* ///////////..first section../////////// 
*
*
*/
.cover {
    padding: 10px;
    height: 100vh; 
    background-image: url(../images/index/cover-mobile.jpg);
    color: var(--color-white);
    width: 100%; 
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-attachment: scroll;
    background-size: cover;     
}
  
  
.cover__title h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    font-weight: 700;  
    padding: 0px 10px;  
}

.cover__title span {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;  
    font-size: 2.2rem; 
} 

.cover__title p {
    padding: 10px 10px;
    font-size: 1rem; 
}
  
  /* ......../ media query /.......... */
  
@media screen and (min-width: 768px) {
   
  .cover {
    background-attachment: fixed;
    background-image: url(../images/index/cover-desktop.jpg);
  }

  .cover__title h1 {
    font-size: 6rem;
  }

  .cover__title span { 
    font-size: 3.5rem;
  } 
}

/*
*
*
/* ///////////..second section../////////// 
*
*
*/

.section-2 {
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: block;
    background-color: var(--color-white); 
    padding-bottom: 100px;
  }
  
.section-2__image-desktop {
  display: none;
}

.section-2__title { 
  text-align: center;
  color: var(--color-black);
  font-size: 1.8rem;
  padding: 30px 20px 20px; 
  font-family: 'Dancing Script', cursive;   
}

.section-2__title strong {
    color: var(--color-flame); 
}

.section-2__image-mobile {
  display: block;
  width: 80%;
  max-width: 450px; 
  height: auto;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10px; 
}

.section-2__container-text {
  padding: 20px 40px 30px 40px; 
  color: var(--color-grey);
  text-align: left;
  font-size: 1rem; 
 
}

.section-2__container-text li {
  padding: 30px 0px 0px 0px;
}

.section-2__container-text p span {
  color: var(--color-orange);
}


ul { 
  color: var(--color-black);
  margin-bottom: 1rem;
}

.section-2__container-text-li::before {
  content: '';
  background-color: var(--color-orange);
  display: inline-block;
  height: 12px;
  width: 12px; 
  border-radius: 6px;
  margin-right: 10px;
  top: 2px; 
}
  
  /* ......../ media query /.......... */
  
@media screen and (min-width: 768px) {

  .section-2 {
    display: flex;
    width: 100%;
  }

  .section-2__container-image, .section-2__container {
    width: 50%;
  }

  .section-2__container-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-2__image-mobile {
     display: none;
   }

  .section-2__image-desktop { 
    display: block;
     max-width: 80%;
     height: auto;
   }

  .section-2__title { 
     font-size: 3rem;
     padding: 100px 20px 100px;   
   }

  .section-2__container-text {
     padding: 0px 50px 20px;
     font-size: 1.1rem;
   }

  .section-2__container-text li {
     padding: 30px 0px 20px 0px;
   }

  ul {
    margin-bottom: 1.75rem;
  }
}


/*
*
*
/* ///////////.thrid section../////////// 
*
*
*/

.section-3 {
  display: block;
  height: auto;
}

.section-3__title {
  display: none;
}

.section-3__title div {
  display: none; 
}

.section-3 h2 {
  width: 100%;
  text-align: center;
  color: var(--color-black);
  font-size: 1.6rem;
  padding: 50px 0px 10px 0px; 
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  background-color: var(--color-white);
}

.section-3__container {
  display: flex;
  flex-direction: column;
}

.section-3__container-text {
  display: flex;
  width: 100%;
  background: var(--color-white);
  color: var(--color-grey);
  padding: 10px 50px 50px 50px;
  text-align: center;
  order: 2; 
}

.section-3__container-video {

  height: 600px;
  display: flex;
  justify-content: center; 
  background-color: var(--color-black);
  z-index: -3;
  order: 1;
  color: white;
}

.section-3__container-video video {
  width: auto;
  height: 700px;
  z-index: -1; 
}

/* ......../ media query /.......... */
@media screen and (min-width: 768px) {
  
  .section-3 {
    min-height: 100vh;
  }

  .section-3__title {
    display: flex;
  }

  .section-3__title div {
    display: block;
    width: 40%;
    min-width: 400px;
  }

  .section-3__title h2 {
    width: 60%;
    font-size: 3rem;
    padding: 200px 10px 10px;
    font-weight: bold;
  }

  .section-3__container {
    display: flex;
    flex-direction: row;
  }

  .section-3__container-text {
    width: 60%;
    padding: 150px 45px 50px 45px;
    order: 1;
  }

  .section-3__container-video {
    display: block;
    
    width: 40%;
    min-width: 400px;
    background-color:transparent;
  }

  .section-3__container-video video {
    width: auto;
    height: 800px;
    top: 20px;
    position: fixed;
    
  }
}

@media screen and (min-width: 1200px) {

  .section-3__container-text {
      padding: 150px 120px 50px 120px;
      
  }
}

 /*
*
*
/* ///////////.Fourth section../////////// 
*
*
*/
  
.section-4 {
  height: auto;
  background-color: var(--color-black);
}

.section-4__container-text h2 {
  text-align: center;
  color: var(--color-white);
  font-size: 1.3rem;
  padding: 40px;  
}

.section-4__container-images a { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.section-4__link {
  width: 50%;
  height: auto;
}

.section-4__link:hover {
  box-shadow: 0px 0px 1px 3px var(--color-flame);
}

/* ......../ media query /.......... */
@media screen and (min-width: 768px) {

  .section-4 {
    height: 950px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .section-4__container {
    width: 100%;
  }

  .section-4__container-text h2 {
    font-size: 2rem;
    padding: 50px 50px;
  }

  .section-4__container-images {
    display: flex;
    margin: 10px; 
  }

  .section-4__container-images a { 
    display: flex;
    justify-content: normal;
    align-items: normal;
    max-height: 700px;
    width: 50%;
  }

  .section-4__container-images a:first-child {
    justify-content: end;
  }

  .section-4__link {
    width: auto;
    height: auto;
    max-width: 85%;
    max-height: 100%;
    margin: 0px 50px;  
  }

}

/*
*
*
/* ///////////.fifth section../////////// 
*
*
*/


.section-5 { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url("../images/index/section5-mobile.jpg");
  background-attachment:scroll;
}


.section-5__container h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Dancing Script', cursive; 
}

.section-5__container-link {
  display: block;
  text-align: center;
  margin-top:80px;
}

.section-5__container-link a { 
  margin-left: auto;
  margin-right: auto;
  border: 3px solid var(--color-flame);
  border-radius: 20px;
  color: var(--color-flame);
  padding: 10px 20px;
} 

/* ......../ media query /.......... */
@media screen and (min-width: 768px) {

  .section-5 {
    height: 800px;
    background-image: url("../images/index/section5-desktop.jpg");
    background-attachment: fixed;
 }
 
  .section-5__container h2 {
   font-size: 4rem;
 }

}

/*
*
*
/* ///////////.sixth section../////////// 
*
*
*/

.section-6__container {
  height: 450px;
  background: var(--color-black);
  text-align: center; 
}

.section-6__container h2 {
  padding: 60px 0px 30px 0px;
  color: var(--color-flame);
  font-size: 1.6rem;
}

.section-6__container p {
  color: var(--color-white);
  padding-bottom: 50px;
  font-size: 0.7rem;
}

.section-6__container-form {
  display: block;
}

.section-6__box {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.section-6__container .section-6__box {
  position: relative;
}

.section-6__container .section-6__box input {
  width: 290px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  margin-bottom: 1.2rem;
}

.section-6__container .section-6__box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 0.7rem;
  color: var(--color-white);
  pointer-events: none;
  transition: .5s;
}

.section-6__container .section-6__box input:focus ~ label,
.section-6__container .section-6__box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--color-flame);
  font-size: 12px;
}

.section-6__container button {
  border-radius: 30px;
  width: 80px;
  font-size: 0.9rem;
  margin-left: 20px;
  height: 1.8rem;
  background-color: var(--color-white);
}

.section-6__container button:hover {
  background-color: var(--color-flame);
  color: var(--color-white);
}


/* ......../ media query /.......... */
@media screen and (min-width: 768px) {

  .section-6__container h2 {
    padding: 60px 0px 70px 0px;
    font-size: 2.5rem;
  }

  .section-6__container p {
    font-size: 1.1rem;
  }
  
  .section-6__container-form {
    display: flex;
    justify-content: center;
  }
  
  .section-6__box {
    width: auto;
    margin-left: 20px;
    margin-right: 0px;
  }
  
  .section-6__container .section-6__box input {
    width: 310px;
  }
  
  .section-6__container .section-6__box label {
    font-size: 16px;
  }
  
  .section-6__container button {
    width: 130px;
    font-size: 15px;
    margin-left: none;
  }

}

@media screen and (min-width: 1200px) {
  .section-6__container .section-6__box input {
      width: 350px;
  }

}

/*
*
*
/* ///////////.footer section../////////// 
*
*
*/

.footer {
  background-color: var(--color-black);
  height: 200px;
  color: var(--color-white);
  border: none;
  border-top: 1px solid var(--color-grey);
  font-size: 0.6rem;
  text-align: center;
}

.footer__info {
  margin: 30px;
}

.footer__network a, .footer__mention a {
  margin-left: 10px;
}

.footer__mention {
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer__made a{
  margin-left: 20px;
}

/* ......../ media query /.......... */
@media screen and (min-width: 768px) {

  .footer {
    height: 278px;
    font-size: 15px;
  }
  
  .footer__info {
    margin: 40px;
  }

}
